[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
docopt = "*"
future = "*"
jinja2 = "*"
numpy = "*"
patsy = "*"
ply = "*"
pytest = "*"
setuptools = "*"
scipy = "*"
snakemake = "*"
terminaltables = "*"
scikit-learn = "*"
tox = "*"
twine = "*"

[requires]
python_version = "3.6"
