<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- asset css -->
    <link rel="stylesheet" type="text/css" href="css/assets/bootstrap.min.css">

    <script type="text/javascript" src="js/assets/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/assets/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/assets/underscore-min.js"></script>
    <script type="text/javascript" src="js/assets/doT.min.js"></script>
    <script type="text/javascript" src="js/assets/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="js/assets/highcharts/modules/parallel-coordinates.js"></script>
    <script type="text/javascript" src="js/assets/highcharts/modules/tilemap.js"></script>
    <script type="text/javascript" src="js/assets/highcharts/modules/heatmap.js"></script>

    <script type="text/javascript">
        // top level namespace
        var detk = detk || {};

        // dynamically loaded JS
        detk.functions = {
        {% for name, code in templates['js'].items() %}
            "{{name}}": function(elem,d) {
                {{ code }}
            },
        {% endfor %}
        }

        {{ common['js'] }}
    </script>
    <script type="text/javascript" src="{{ data_path }}"></script>
    <style>
        {{ common['css'] }}

        {% for name, code in templates['css'].items() %}
            {{ code }}
        {% endfor %}
    </style>
    </head>
    <body>
        <!-- dynamically loaded  HTML templates -->
        {% for name, tmpl in templates['html'].items() %}
        <template id="{{name}}">
            {{ tmpl }}
        </template>
        {% endfor %}

        {{ common['html'] }}

    </body>
</html>
