<table class="table table-striped table-bordered" style="width:300px">
                <tr>
                    <th scope="row">Filter command</th>
                    <td>{{=it.params.command}}</td>
                </tr>
                <tr>
                    <th scope="row"># kept</th>
                    <td>{{=it.properties.num_kept}}</td>
                </tr>
                <tr>
                    <th scope="row"># filtered</th>
                    <td>{{=it.properties.num_filtered}}</td>
                </tr>
            </table>
